/*------------------------------------*\
  # Header Styles
\*------------------------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}
