/*------------------------------------*\
  # Heading Styles
\*------------------------------------*/

@use "src/styles/abstracts" as *;

.heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  @include font-size(3.4rem, 1.2);
  color: $color-white;
  margin: 0;

  span {
    display: block;
    color: $color-primary;
  }
}
